@import "tailwindcss";

@layer base {
  
  html, body {
    @apply bg-blue-100;
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    color: #f3f4f6;
  }

  html.dark, body.dark {
    @apply bg-black;
  }
}

@layer utilities {
  /* Loading Screen */
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
  /* End Loading Screen */

  /* Reveal On Scroll */
  .reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease, transform 0.7s ease;
  }

  .reveal.visible {
    opacity: 1;
    transform: translateY(0);
  }
  /* End Reveal On Scroll */

  /* Navbar underline */
  .active-link {
    position: relative;
  }
  
  .active-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: #3b82f6; /* blue-500 */
    transform: scaleX(1); /* <-- directamente en 1 */
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    opacity: 1; /* visible */
  }

  .link-underline {
    position: relative;
  }

  .link-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: #3b82f6; /* azul blue-500 */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-out; /* ⬅️ controla la velocidad */
  }

  .active-link::after {
    transform: scaleX(1);
  }
  /* End Navbar underline */

  /* Carousel */
  .carousel {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    display: inline-flex;
    overflow-x: scroll;
  }
  .carousel-end .carousel-item {
    scroll-snap-align: end;
  }
  .carousel-item {
    box-sizing: content-box;
    scroll-snap-align: start;
    flex: none;
    display: flex;
  }

  .carousel-center .carousel-item {
    scroll-snap-align: center;
  }
  /* End Carousel */
}